<!-- <div class="text-center mt-4">
    <button class="p-2" (click)="openCateogory()">Category</button>
</div>
<div class="container mt-4">
    <div class="row" style="position: relative">
        <div class="col-md-3 col-sm-6 d-flex flex-column mb-4">
            <div class="product-btn flex d-flex v-center h-center">+</div>
        </div>
        <div *ngFor="let p of products" class="col-md-3 col-sm-6 mb-4">
            <div class="product-panel">
                <div class="pic"><img [src]="p.pic"></div>
                <div class="name">{{p.name}}</div>
                <div>{{p.price | number }}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog" class="dialog-panel">
    <div class="d-flex">
        <div class="flex">Title</div>
        <button (click)="closeCategory()">x</button>
    </div>
</div> -->