<spinner [hidden]="!loading"></spinner>
<div class="paper" style="width: 480px; max-width: 480px">
    <div id="form"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex v-center h-center" style="height: 150px">
                    <img class="mw-100 mh-100" src="/assets/images/logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="container">
            <div class="row ext-row">
                <div class="col-md-12 text-center">
                    <div id="button_1"></div>
                </div>
            </div>
        </div>
    </div>
</div>